[user]
	name = Apurv Verma
	email = apurv@bloomreach.com
[merge] 
        tool = kdiff3
[color]
        diff = auto
        status = auto
        branch = auto
[core]
	editor = vim
	excludesfile = /Users/dapurv5/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	create-pull-request = !sh -c 'stash pull-request $0'
